---
layout: base.njk
---

<h1><img src="/assets/icon.png" alt="Microsite shape icon">Mendigoxalea</h1>
<h2>Euzkadi Askatzeko !</h2>
<h3>Kontaktua</h3>
<!-- INPRIMAKIA -->
<h2 id="how-to-sell">Contact Us</h2>
  <p>This is the page where we want the contact us form to be available...</p>
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<form name="contact" data-netlify="true">
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">name</label> 
    <div class="col-8">
      <input id="text" name="text" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">email</label> 
    <div class="col-8">
      <input id="text1" name="text1" type="text" class="form-control" required="required">
    </div>
  </div>
  <div class="form-group row">
    <label for="textarea" class="col-4 col-form-label">comments</label> 
    <div class="col-8">
      <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control" aria-describedby="textareaHelpBlock"></textarea> 
      <span id="textareaHelpBlock" class="form-text text-muted">what do you want to contact us about?</span>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
